*{
    margin: 0;
    font-family: roboto;
    box-sizing: border-box;
    color: white;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(60, 65, 65);
    padding: 1%;
    height: 4em;
    align-items: center;
}

.nav-title{
    align-self: flex-start;
}

li{
    display: inline-block;
    height: 100%;
    margin: 5px;
    color: white;
}

button{
    background-color: rgb(8, 158, 158);
    height: 90%;
    box-shadow: 2px 2px black;
    border: 1px solid black;
    font-size: medium;
}

a{
    text-decoration: none;
}

.active{
    font-weight: bold;
}