body{
    margin: 50px;
}

button{
    margin: 10px;
}

.search{
    background-color: white;
    font-size: 130%;
    border: .1em solid rgb(23, 177, 126);
    padding-left: 2em;
    padding-right: 2em;
    color: rgb(23, 177, 126);
    border-radius: 8em;
    box-shadow: .1em .1em .2em rgb(23, 177, 126);
}

.add{
    background-color: rgb(23, 177, 126);
    color: white;
    text-align: center;
    font-size: 180%;
    padding: .1em .4em;
    border: .1em solid rgb(23, 177, 126);
    border-radius: 50%;
}

.account{
    background-color: blue;
    color: white;
    padding: .5em 2em;
    font-size: 110%;
    box-shadow: .2em .2em .1em black;
    border: .15em solid black;
}