/* CSS reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

  /* Fixed width container class that will "auto-center" itself */
.container {
    width: 1200px;
    margin: 0 auto;
}

button{
        margin: 10px;
}


.row{
        display: flex;
}

.col, .col-2, .col-3{
        flex: 1;
        background-color: lightblue;
        height: 100px;
        margin: 10px;
        padding: 10px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(60, 65, 65);
    padding: 1%;
    height: 4em;
    align-items: center;
}